.buttonDimentions{
	width: 20vw;
	background: rgb(189, 216, 236);
	border:3px solid gray;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(149, 116, 175);
}
.buttonDimentions:hover{
	background:  rgb(149, 116, 175);
	color: rgb(189, 216, 236);
}
.buttonText{
	margin:5%;
}