.buttonDimentions{
	width: 20vw;
	background: rgb(189, 216, 236);
	border:3px solid gray;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(149, 116, 175);
	/*padding: 1%;*/
}
.buttonDimentions:hover{
	background:  rgb(149, 116, 175);
	color: rgb(189, 216, 236);
}
.buttonText{
	font-family: 'Reenie Beanie', cursive;
	font-size: 2em;
	padding: 5%;
	margin:0%;
}
@media(max-width: 825px){
	.buttonText{
	font-size: 1.1em;

	}
}