.hiddenBonesLanding{
	background: rgb(101, 191,155);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.gameBoardHolder{
	background: rgb(190, 89, 46);
	display: flex;
	align-items: center;
	justify-content: center;
	background: brown;
	height: 90vh;
	width: 90vw;
	border-radius: 5px;
}