.container{
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	height: 100%;
	width: 100%;
	background: rgb(160, 115, 74);
	border: 3px solid rgb(110, 79, 66);
}
.background{
	
	height: 100%;
	width: 100%;
}
.outerHole{
	background: rgb(104, 74, 62);
	height: 100%;
	width: 100%;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.innerHole{
	background: rgb(86, 57, 53);
	border-radius: 100%;
	height: 40%;
	width: 40%;
}
.imageContainer{
	width: 100%;
    height:100%;
	flex:1;
}