.buttonDimentions{
	width: 20vw;
	background: lightblue;
	border:3px solid gray;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(40, 41, 35);
}
.buttonDimentions:hover{
	background:  rgb(40, 41, 35);
	color: lightblue;
}
.buttonText{
	margin:5%;
}